<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="banner">
    <div class="content">
        <h1 class="mb-5">Hire Talent, Post Jobs</h1><h3>& View Candidates</h3><br>
        <h4>Job Fynder Manage updates both from the job seekers as well as the employers. Contact Millions of Profiles to Hire. It’s unique development methodology helps in acquiring the client and candidate information and separating them according to the job requirements and vacancies.
          The online access to it provides details of the job.</h4><br>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <br><br>
        </div>
        <a routerLink="elogin">POST JOBS<i class="bi bi-arrow-right"></i></a><br><br><br>
        <a routerLink="login">APPLY Jobs<i class="bi bi-arrow-right"></i></a>
        
  
    </div>
    
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">Ways to get &nbsp;<span class="highlight">Good Job</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Upgrade your resume</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Work on your skill set</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Research different companies.</p>
            </div>
        </div>
    </div>
</div>

<!-- foodbox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Find your&nbsp;<span class="highlight">Dream Company</span></h1>
    <div class="row">
      <div class="col-lg-3 mt-3">
        <div class="companybox">
          <img src="/assets/img/Mphasis.jfif" />
          <h1>Mphasis</h1>
        </div>
      </div>
  
      <div class="col-lg-3 mt-3">
        <div class="companybox">
          <img src="/assets/img/tcs.webp" />
          <h1>Tata Consultancy Services</h1>
        </div>
      </div>
  
      <div class="col-lg-3 mt-3">
        <div class="companybox">
          <img src="/assets/img/hcl.jpg" />
          <h1>HCL Tech</h1>
        </div>
      </div>
  
      <div class="col-lg-3 mt-3">
        <div class="companybox">
          <img src="/assets/img/wipro.webp" />
          <h1>Wipro</h1>
        </div>
      </div>
    </div>
    <a routerLink="login" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
  </div>
  <div _ngcontent-ng-c75484632="" class="container-fluid footer mt-5">
    <div _ngcontent-ng-c75484632="" class="row"><div _ngcontent-ng-c75484632="" class="col-lg-6 mt-3 mb-3">
      <h1 _ngcontent-ng-c75484632="" style="font-weight: bold;
      color: #fff;
      font-size: 20px;">Job Fynder</h1><p _ngcontent-ng-c75484632="" style="color: #fff;
font-size: 12px;">Find your Dream Job Here</p>
    </div><div _ngcontent-ng-c75484632="" class="col-lg-4 mt-3 mb-3">
      <a  _ngcontent-ng-c75484632="" routerlink="" ng-reflect-router-link="" href="/" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">Home</a>
      <a _ngcontent-ng-c75484632="" routerlink="about" ng-reflect-router-link="about" href="/about" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">About</a>
      <a _ngcontent-ng-c75484632="" routerlink="contact" ng-reflect-router-link="contact" href="/contact" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">Contact</a>
      <a _ngcontent-ng-c75484632="" routerlink="privacy" ng-reflect-router-link="privacy" href="/" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">Privacy &amp; policy</a>
    </div>
    <div _ngcontent-ng-c75484632="" class="col-lg-2 mt-3 mb-3" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"><a _ngcontent-ng-c75484632="" href="#" target="_blank">
      <i _ngcontent-ng-c75484632="" class="bi bi-facebook" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a><a _ngcontent-ng-c75484632="" href="#" target="_blank">
        <i _ngcontent-ng-c75484632="" class="bi bi-whatsapp" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a><a _ngcontent-ng-c75484632="" href="#" target="_blank">
          <i _ngcontent-ng-c75484632="" class="bi bi-instagram" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a><a _ngcontent-ng-c75484632="" href="#" target="_blank">
            <i _ngcontent-ng-c75484632="" class="bi bi-youtube" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a>
          </div>
        </div>
      </div>