<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Paytone+One" rel="stylesheet">
<div class="container">

    <h1 style="  margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    font-family: Kaushan Script;
    font-size: 75px;
    color: black; text-align: center; margin-right: 25%;">About</h1>
    <div class="container" id="cell">
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Fynder is India’s one of the job portal owned and operated by Info Edge (India) Ltd. It was founded in 2023 and is headquartered in Banglore, Karnataka, 
        India. This is a technology-based recruitment marketplace for  hiring with a singular purpose: 
        To provide meaningful livelihoods to many unemployed persons of India, enabling job seekers and businesses to get connected every month. We have built a recruitment ecosystem that eliminates middlemen, 
        fraudulent jobs, and vulgar jobs, ensuring genuine employees and employers.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Fynder connects jobseekers with a wide range of job opportunities and deliver exceptional value to employers. Job Fynder offers its clients a bouquet of end to end recruitment services, 
        job listings,posting and applying jobs. In addition, it also features services for job seekers.<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Fynder was developed for creating interactive job vacancies for
      candidates. This web application manages updates both from the job seekers as well
      as the employers. It’s unique development methodology helps in acquiring the client
      and candidate information and separating them according to the job requirements
      and vacancies.
      <br>
      The online access to it provides details of the job. An employer being registered in
      the web site has the facility to use the services. Being an authorized user he can
      publish vacancy details.
        <br/>
        
        <br/>
        
        <br/>
    </p>
  </div>
</div>
<div _ngcontent-ng-c75484632="" class="container-fluid footer mt-5">
    <div _ngcontent-ng-c75484632="" class="row"><div _ngcontent-ng-c75484632="" class="col-lg-6 mt-3 mb-3">
      <h1 _ngcontent-ng-c75484632="" style="font-weight: bold;
      color: #fff;
      font-size: 20px;">Job Fynder</h1><p _ngcontent-ng-c75484632="" style="color: #fff;
font-size: 12px;">Find your Dream Job Here</p>
    </div><div _ngcontent-ng-c75484632="" class="col-lg-4 mt-3 mb-3">
      <a  _ngcontent-ng-c75484632="" routerlink="" ng-reflect-router-link="" href="/" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">Home</a>
      <a _ngcontent-ng-c75484632="" routerlink="about" ng-reflect-router-link="about" href="/about" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">About</a>
      <a _ngcontent-ng-c75484632="" routerlink="contact" ng-reflect-router-link="contact" href="/contact" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">Contact</a>
      <a _ngcontent-ng-c75484632="" routerlink="privacy" ng-reflect-router-link="privacy" href="/" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;">Privacy &amp; policy</a>
    </div>
    <div _ngcontent-ng-c75484632="" class="col-lg-2 mt-3 mb-3" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"><a _ngcontent-ng-c75484632="" href="#" target="_blank">
      <i _ngcontent-ng-c75484632="" class="bi bi-facebook" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a><a _ngcontent-ng-c75484632="" href="#" target="_blank">
        <i _ngcontent-ng-c75484632="" class="bi bi-whatsapp" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a><a _ngcontent-ng-c75484632="" href="#" target="_blank">
          <i _ngcontent-ng-c75484632="" class="bi bi-instagram" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a><a _ngcontent-ng-c75484632="" href="#" target="_blank">
            <i _ngcontent-ng-c75484632="" class="bi bi-youtube" style=" color: #fff; text-decoration: none; padding: 0px 10px; font-size: 17px;"></i></a>
          </div>
        </div>
      </div>